{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{%block content%}
<div class="jumbotron" style="background-color:#fca3b7;">
  <h1 class="text-center" style="color: #000">Cuisine Discoveries</h1>
</div>
<div class="container">
  <div class="row">
    <img alt="Card image cap" class="card-img-top img-fluid" src="https://www.seriouseats.com/images/2013/02/DSC_0715.JPG" height="200px" width="400px">
    <P style="font-family: 'Felipa', cursive; float:right; margin-right:400px;margin-top:100px;font-size:20px;">"Food is the ingredient that binds us together"</P>
    {{macro.displayBlogs(blogs)}}
  </div>
</div>
{%endblock%}
