{% extends 'base.html' %}
{% import 'macros.html' as macro %}
<!-- Styles block -->

{%block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{%endblock%}
<!-- Content block -->
{%block content%}
<div class="jumbotron text-center" style="background-color:blue; color: #000; margin: 10px -100px 30px -100px;">
  <h1>BLOG Ma Intrests!!!!!</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="well">
      <h3 class="text-center">Health</h3>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <a href="/blogs/cuisine" class="btn btn-lg" style="background-color:#fca3b7;color:#000;">View Blogs</a>
        </div>
        <div class="col-md-4"></div>
      </div>
 </div>
</div>
<div class="col-md-6">
 <div class="well">
   <h3 class="text-center">Tecnology</h3>
   <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4">
       <a href="/blogs/health" class="btn btn-lg" style="background-color:#fca3b7;color:#000;">View Blogs</a>
     </div>
     <div class="col-md-4"></div>
   </div>
 </div>
</div>
<div class="col-md-6">
 <div class="well">
   <h3 class="text-center">Adventures</h3>
   <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4">
       <a href="/blogs/empower" class="btn btn-lg" style="background-color:#fca3b7;color:#000;">View Blogs</a>
     </div>
     <div class="col-md-4"></div>
   </div>
 </div>
</div>
<div class="col-md-6">
 <div class="well">
   <h3 class="text-center">Cuisine</h3>
   <div class="row">
     <div class="col-md-4"></div>
     <div class="col-md-4">
       <a href="/blogs/empower" class="btn btn-lg" style="background-color:#fca3b7;color:#000;">View Blogs</a>
     </div>
     <div class="col-md-4"></div>
   </div>
 </div>
</div>

{%endblock%}
